In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dados.csv')

In [3]:
df

,sbp,tobacco,ldl,adiposity,famhist,typea,obesity,alcohol,age,chd
1,160,12.00,5.73,23.11,Present,49,25.30,97.20,52,1
2,144,0.01,4.41,28.61,Absent,55,28.87,2.06,63,1
3,118,0.08,3.48,32.28,Present,52,29.14,3.81,46,0
4,170,7.50,6.41,38.03,Present,51,31.99,24.26,58,1
5,134,13.60,3.50,27.78,Present,60,25.99,57.34,49,1
...,...,...,...,...,...,...,...,...,...,...
459,214,0.40,5.98,31.72,Absent,64,28.45,0.00,58,0
460,182,4.20,4.41,32.10,Absent,52,28.61,18.72,52,1
461,108,3.00,1.59,15.23,Absent,40,20.09,26.64,55,0
462,118,5.40,11.61,30.79,Absent,64,27.35,23.97,40,0
463,132,0.00,4.82,33.41,Present,62,14.70,0.00,46,1

In [17]:
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import train_test_split
from sklearn import preprocessing


X = df.drop(['chd'], axis=1)
y = df['chd']

le = preprocessing.LabelEncoder()
X['famhist'] = le.fit_transform(X['famhist'])

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.1)

In [18]:
X

     sbp  tobacco    ldl  adiposity  famhist  typea  obesity  alcohol  age
1    160    12.00   5.73      23.11        1     49    25.30    97.20   52
2    144     0.01   4.41      28.61        0     55    28.87     2.06   63
3    118     0.08   3.48      32.28        1     52    29.14     3.81   46
4    170     7.50   6.41      38.03        1     51    31.99    24.26   58
5    134    13.60   3.50      27.78        1     60    25.99    57.34   49
..   ...      ...    ...        ...      ...    ...      ...      ...  ...
459  214     0.40   5.98      31.72        0     64    28.45     0.00   58
460  182     4.20   4.41      32.10        0     52    28.61    18.72   52
461  108     3.00   1.59      15.23        0     40    20.09    26.64   55
462  118     5.40  11.61      30.79        0     64    27.35    23.97   40
463  132     0.00   4.82      33.41        1     62    14.70     0.00   46

[462 rows x 9 columns]

In [19]:
X_train

     sbp  tobacco   ldl  adiposity  famhist  typea  obesity  alcohol  age
163  138     0.00  2.68      17.04        0     42    22.16     0.00   16
192  128     0.70  4.90      37.42        1     72    35.94     3.09   49
51   122     0.00  5.75      30.90        1     46    29.01     4.11   42
114  174     0.00  8.46      35.10        1     35    25.27     0.00   61
417  134     1.10  3.54      20.41        1     58    24.54    39.91   39
..   ...      ...   ...        ...      ...    ...      ...      ...  ...
238  176     5.76  4.89      26.10        1     46    27.30    19.44   57
296  134     0.00  5.63      29.12        0     68    32.33     2.02   34
45   114     0.00  2.99       9.74        0     54    46.58     0.00   17
295  170     2.60  7.22      28.69        1     71    27.87    37.65   56
148  136     3.46  6.38      32.25        1     43    28.73     3.13   43

[415 rows x 9 columns]

In [20]:
y_train

163    0
192    1
51     0
114    1
417    1
      ..
238    0
296    0
45     0
295    1
148    1
Name: chd, Length: 415, dtype: int64

In [21]:
sgd_clf = SGDClassifier(random_state=42)
sgd_clf.fit(X_train, y_train)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='hinge',
              max_iter=1000, n_iter_no_change=5, n_jobs=None, penalty='l2',
              power_t=0.5, random_state=42, shuffle=True, tol=0.001,
              validation_fraction=0.1, verbose=0, warm_start=False)

In [22]:
y_pred = sgd_clf.predict(X_test)

from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, y_pred)

print(cm)

[[ 8 22]
 [ 0 17]]

In [23]:
from sklearn.metrics import classification_report

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      0.27      0.42        30
           1       0.44      1.00      0.61        17

    accuracy                           0.53        47
   macro avg       0.72      0.63      0.51        47
weighted avg       0.80      0.53      0.49        47

In [24]:
from sklearn.metrics import accuracy_score

print(accuracy_score(y_test, y_pred))

0.5319148936170213

In [25]:
from sklearn.metrics import f1_score

print(f1_score(y_test, y_pred))

0.6071428571428571